* {
	border: none;
	border-radius: 10;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 12px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}
#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #1e1e2e;
	transition: none;
}

#tags button {
	transition: none;
	color: #ffffff;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#tags button.occupied {
	transition: none;
	color: #ffffff;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #ffffff;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ffffff;
    border-color: #E8A2AF;
    color: #ffffff;
}

#tags button.focused:hover {
    color: #ffffff;
}

#network {
	margin-top: 6px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}

#battery.charging, #battery.plugged {
	color: #ffffff;
    background-color: #0A9D9F;
}

#battery.critical:not(.charging) {
    background-color: #9F200A;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #ffffff;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
  margin-right: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #ffffff;
    background: #1e1e2e;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}
/*  workspaces */
#workspaces button label {
  color: rgb(180, 190, 254);
}

#workspaces button.active label {
  color: rgba(255,255,255, 0.8);
  font-weight: bolder;
}

#workspaces button:hover {
  box-shadow: rgb(180, 190, 254) 0 0 0 1.5px;
  min-width: 27px;
}

#workspaces {
  background-color: transparent;
  padding: 0px 2px;
  margin-top: 6px;
  margin-right: 10px;
  margin-bottom: 0px;
}

#workspaces button {
  box-shadow: rgba(17, 17, 27, 0.2) 0px 0px 3px 2px;
  background-color: rgba(22, 141, 243, 0.3);
  border-radius: 10px;
  margin-right: 8px;

  transition: all 0.3s ease;
}

#workspaces button.active {
  min-width: 30px;
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
  background-color: rgba(22, 141, 243, 0.7);
  transition: all 0.3s ease;
  background-size: 300% 300%;
  animation: colored-gradient 10s ease infinite;
}

/* Spotify  */

#custom-spotify {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	color: #ffffff;
	background: #1e1e2e;
  box-shadow: rgba(17, 17, 27, 0.2) 0 0 3px 2px;
  transition: all 0.3s ease;
}

#custom-spotify.playing {
  color: rgb(180, 190, 254);
  background: rgb(18,83,14);
  background: linear-gradient(0deg, rgba(22,141,243,0.7) 0%, rgba(12,68,117,0.7) 23%, rgba(30,30,46,1) 100%);  
  background-size: 400% 100%;
  animation: grey-gradient 3s linear infinite;
  transition: all 0.3s ease;
}

/* weather & temperature */
#custom-weather, #temperature, #custom-keybindings{
  margin-top: 6px;
	margin-left: 8px;
  margin-right: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #ffffff;
	background: #1e1e2e;
}
